# Domain
DOMAIN_NAME=localhost:8000
PORT=8000

# Discord OAuth
DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=YOUR_DISCORD_CLIENT_SECRET

# Deno KV
DENO_KV_PATH= # Leave blank for development
DENO_KV_ACCESS_TOKEN= # Leave blank for development

# S3 or S3-Compatible Storage
S3_ENDPOINT=localhost
S3_PORT=9000
S3_USE_SSL=false
S3_ACCESS_KEY=YOUR_S3_ACCESS_KEY
S3_SECRET_KEY=YOUR_S3_SECRET_KEY
S3_BUCKET_NAME=my_bucket
S3_REGION=YOUR_S3_REGION